---
import Header from "../../components/Header.astro";
import Footer from "../Footer.astro";

import Image from "astro/components/Image.astro";
import RenegadeSlider from "../../components/RenegadeSlider.astro";
import Front5 from "../../assets/renegade/front5.webp";
import BackAxo2 from "../../assets/renegade/from_back_axo2.webp";
import Rozmetadlo from "../../assets/renegade/rozmetadlo.jpg";
import FrontWRemote from "../../assets/renegade/front_w_remote.webp";
import FrontAxo from "../../assets/renegade/front_axo.webp";
import FromTopSide from "../../assets/renegade/from_top_side.webp";
import Backside from "../../assets/renegade/backside.webp";
import RenegadeFront from "../../assets/renegade/renegade_front2.webp"
import FromSide from "../../assets/renegade/from_side.webp"
import Shore3Fitted from "../../assets/renegade/shore3_fitted.webp"
import FromBackAxo from "../../assets/renegade/from_back_axo.webp"
---

<div id="container">
	<Header />
  <main class="container">
    <div class="center-sec">
      <section id="sec-one">
        <h1 class="mobile-h1">Zavážacia loďka Renegade</h1>
        <RenegadeSlider />
  
        <div class="intro">
          <h1 class="desktop-h1">Zavážacia loďka Renegade</h1>
          <p class="desc">
            Renegade je inteligentná zavažacia lodička vytvorená pre kaprárov,
          ktorí chcú loviť ťažko dostupné miesta, o ktorých iný rybári iba
          snívajú. Zabudovaný sonar vám umožní vidieť hĺbku vody a nájsť miesta,
          kde veľké kapry radi hodia jesť. Loďka je vybavená aj s GPS-om a
          Autopilotom, ktorý pamätá polohu vášho lovného miesta.
          </p>
          <p class="para">
            Dostupnosť<span class="spacer"> - - - - - </span>
            <span class="availability">Skladom</span>
          </p>
          <p class="price">
            €1 299
          </p>
          <p class="para">Vybavenie loďky:</p>
          <div class="features">
            <span class="feature">
              GPS
              <!-- &#x2713; -->
              &#x2705;
            </span>
            <span class="feature">
              Sonar
              &#x2705;
            </span>
            <span class="feature">
              Autopilot
              &#x2705;
            </span>
            <span class="feature">
              Slovenský menu
              &#x2705;
            </span>
            <span class="feature">
              Farebný displej
              &#x2705;
            </span>
            <span class="feature">
              All-in-one ovládač
              &#x2705;
            </span>
            <span class="feature">
              Smart funkcie
              &#x2705;
            </span>
          </div>
          <p class="para desc-buy">
            Ľoďku viete nakúpiť alebo vyskúšať(zadarmo) s kontaktovaním čísla: +421 903 763 327
          </p>
          <p class="para">
            Doprava: Zadarmo vrámci Slovenska.
          </p>
        </div>
      </section>
    </div>
    
    <div class="center-sec">
      <section id="sec-two">
        <h2>Popis loďky</h2>
        <div class="video-holder">
          <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/gJLUwQHSzZY?si=vaMuV0om6W5XWWLa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <h3>Technické Údaje</h3>

        <ul class="content-bullets">
          <li class="content-bullet boldb">
            Li-ion batérie 2 x 12,6V/15,6Ah(viem dodať aj silnejšie, až 24Ah),
            výdrž na jedno nabitie je 6-7 hodín.
          </li>
          <li class="content-bullet">
            2 komory s nosnosťou 4kg ktoré sa otvárajú zospodu buď naraz alebo
            jednotlivo.
          </li>
          <li class="content-bullet boldb">
            Loďka je vybavená s farebným sonárom s hĺbkovou detekciou do 70m,
            ktorý identifikuje štruktúru dna, hĺbku vody a lokalitu ryby.
            Displej sonára je zabudovaný do ovládača.
          </li>
          <li class="content-bullet">
            Vďaka GPS a Autopilot viete uložiť 30 pozicií, ktoré loďka vie veľmi
            presne najsť.
          </li>
          <li class="content-bullet boldb">
            1 hák na montáž je v zadu, ktorý je možno vypustiť jednotlivo alebo
            naraz.
          </li>
          <li class="content-bullet">
            Loďka má radioový systém s 2,4Ghz s dosahom 500 metrov.
          </li>
          <li class="content-bullet boldb">
            Rýchlosť je 60/70 metrov za minutu.
          </li>
          <li class="content-bullet">
            Rozmery: dĺžka 65cm, šírka 44cm, výška 24cm.
          </li>
          <li class="content-bullet boldb">Váha 8,5kg(s batériami).</li>
          <li class="content-bullet">
            Dá sa naprogramovať, aby automaticky otvoril komory, keď dorazí na
            označení bod.
          </li>
          <li class="content-bullet boldb">
            Lodičku treba nakalibrovať pred použitím GPS.
          </li>
          <li class="content-bullet">
            Automatický návrat na “home point” pri strate signálu alebo keď sú
            slabé batérie.
          </li>
          <li class="content-bullet boldb">Doprava zadarmo v rámci SR.</li>
          <li class="content-bullet">Vrtule sú chránené proti zamotaniu do silónu alebo vodných rastlín.</li>
        </ul>

        <div class="image-sec">
          <Image
            src={Front5}
            alt="renegade"
            loading="lazy"
            class="ren-image"
          />
        </div>

        <div class="content-sec">
          <h3>Servis</h3>
          <ul class="content-bullets">
            <li class="content-bullet">Viac ako 8 rokov skúsenosti v oprave zavažacích loďičiek.</li>
            <li class="content-bullet">Servis vrámci SR.</li>
            <li class="content-bullet">Záruka na 2 roky.</li>
            <li class="content-bullet">Všetky lodičky sú skúšané a testované na vode pred predajom.</li>
          </ul>
        </div>

        <div class="content-sec">
          <h3>Rozmery</h3>
          <ul class="content-bullets">
            <li class="content-bullet">Rozmery: dĺžka 65cm, šírka 44cm, výška 24cm.</li>
            <li class="content-bullet">Váha: 8,5kg(s batériami)</li>
          </ul>
        </div>

        <div class="content-sec">
          <h3>Balenie</h3>
          <p class="para">Balenie: Lodička + prepravná taška, 2x Batérie, Nabýjačka pre lodičku a pre ovládač, Ovládač + ochranná taška.</p>
        </div>

        <div class="content-sec">
          <h3>Príslušenstvo</h3>
          <p class="para">Dá sa doobjednať rozmetovač krmiva, podvodnú kameru a solárni panel na
            dobíjanie baterií s výkonom 150W.</p>
          <ul class="content-bullets">
            <li class="content-bullet">Rozmetadlo - 170€</li>
            <li class="content-bullet">Podvodná kamera - 340€</li>
            <li class="content-bullet">Solárný panel - 190€</li>
          </ul>
          <h4>Rozmetadlo</h4>
          <div class="image-sec">
            <Image
            src={Rozmetadlo}
            alt="renegade"
            loading="lazy"
              class="ren-image"
            />
          </div>
        </div>
        
        <div class="content-">
          <h3>Fotogaléria</h3>
          <div class="image-sec">
            <Image
              src={RenegadeFront}
              alt="renegade"
              loading="lazy"
              class="ren-image"
            />
            <Image
              src={FromSide}
              alt="renegade"
              loading="lazy"
              class="ren-image"
            />
            <Image
              src={FrontWRemote}
              alt="renegade"
              loading="lazy"
              class="ren-image tall"
            />
            <Image
            src={FromTopSide}
            alt="renegade"
            loading="lazy"
            class="ren-image"
            />
            <Image
              src={FrontAxo}
              alt="renegade"
              loading="lazy"
              class="ren-image"
            />
            <Image
              src={BackAxo2}
              alt="renegade"
              loading="lazy"
              class="ren-image"
            />
            <Image
              src={Backside}
              alt="renegade"
              loading="lazy"
              class="ren-image"
            />
            <Image
              src={Shore3Fitted}
              alt="renegade"
              loading="lazy"
              class="ren-image"
            />
            <Image
              src={FromBackAxo}
              alt="renegade"
              loading="lazy"
              class="ren-image"
            />
          </div>
        </div>

      </section>
    </div>
  </main>

  <Footer />
</div>

<style>
  /* overwriting globals */
.container {
  margin: 0 30px;
  padding-bottom: 0;
}

.desc, .para {
  line-height: 1.7;
}

.para {
  margin-bottom: 15px;
}

.desc {
  margin-bottom: 15px
}

.desc-buy {
  font-weight: 600; 
  font-size: 18px; 
  margin-top: 30px;
}

.features {
  display:flex;
  gap:10px;
  /* justify-content: center; */
  margin: 15px 0;
  flex-wrap: wrap;
}

.feature {
  /* background-color: rgba(125, 164, 238, 0.5); */
  background-color: rgba(125, 164, 238, 0.307);
  padding: 4px 10px;
  font-size: 14px;
  border-radius: 5px;
}

.price {
  font-size: 2rem;
  margin-bottom: 12px;
  font-weight: 500;
}

h1.mobile-h1 {
  display: none;
  padding-bottom: 15px;
}

.desktop-h1 {
  font-size: 2.75rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.availability {
  color: rgb(65, 130, 249);
}
.spacer {
  margin: 0 20px;
}

#sec-one {
  display: flex;
  justify-content: space-between;
  padding: 35px 0px 60px 0px;
  gap: 35px;
  width: 1330px;
  margin:  0 auto 0 auto;
}

#sec-two {
  margin: 0 auto 0 auto;
  width: 820px;
}

#sec-two h2 {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 20px;
}

#sec-two h3 {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 20px;
}

#sec-two h4 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.intro {
  flex-grow: 1;
}

.content-bullets {
  padding-left: 30px;
  margin-bottom: 20px;
}

.content-bullet {
  padding-bottom: 15px;
}

.boldb {
  font-weight: 600;
}

.video-holder {
  margin-bottom: 35px;
}

iframe {
  width: 100%;
  height: 500px;
  border-radius: 3px;
}

.image-sec {
  width: 70%;
  margin: 0px auto 30px auto;
}

.ren-image {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.content-sec {
  margin-bottom: 30px;  
}

@media (max-width: 1450px) {
  .container {
    margin: 0 20px;
  }

  #sec-one {
    padding: 35px 0px 50px 0px;
    gap: 35px;
    width: 1200px;
  }
}

@media (max-width: 1270px) {
  .container {
    margin: 0 20px;
  }

  #sec-one {
    width: 1000px;
  }

  .desc-buy {
    margin-top: 25px;
  }

  .features {
    gap:8px;
  }

  .feature {
    font-size: 13px;
  }

  .price {
    font-size: 2rem;
    margin-bottom: 12px;
  }

  .desktop-h1 {
    font-size: 2rem;
    margin-bottom: 15px;
  }
}

@media (max-width: 1040px) {
  h1.mobile-h1 {
    display: block;
    font-size: 2.75rem;
    font-weight: 500;
  }

  h1.desktop-h1 {
    display: none;
  }

  .desc-buy {
    margin-top: 30px;
  }

  #sec-one {
    flex-direction: column;
    padding-top: 0;
    gap: 0px;
    width: 650px;
  }

  #sec-two {
    width: 650px;
  }

  .intro {
    padding-top: 25px;
    width: 100%;
  }

  .image-sec {
    width: 100%;
  }
}

@media (max-width: 750px) {

  #sec-one {
    gap: 0px;
    width: 100%;
  }

  #sec-two {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .container {
    margin: 0 10px;
  }

  h1.mobile-h1 {
    font-size: 2.25rem;
  }

  iframe {
    height: 300px;
  }
}
</style>