---
import Front1 from "../assets/renegade/front1.webp";
import Front2 from "../assets/renegade/front2.webp";
import Front3 from "../assets/renegade/front3.webp";
import FrontAxo from "../assets/renegade/front_axo.webp";
import Magnet from "../assets/renegade/magnet.webp";
---

<div class="slideshow-container">
  <div class="holder">
    <div class="mySlides fade">
      <img
        src={Front3.src}
        class="slide-img"
        alt="Zavážacia loďka Renegade"
      />
    </div>
  
    <div class="mySlides fade" style="z-index: -5;">
      <img
        src={Front1.src}
        class="slide-img"
        alt="Zavážacia loďka Renegade"
      />
    </div>
  
    <div class="mySlides fade" style="z-index: -5;">
      <img
        src={Front2.src}
        class="slide-img"
        alt="Zavážacia loďka Renegade"
      />
    </div>
  
    <div class="mySlides fade" style="z-index: -5;">
      <img
        src={FrontAxo.src}
        class="slide-img"
        alt="Zavážacia loďka Renegade"
      />
    </div>

    <div class="mySlides fade" style="z-index: -5;">
      <img
        src={Magnet.src}
        class="slide-img"
        alt="Zavážacia loďka Renegade"
      />
    </div>
  </div>
  
  <span id="prev">❮</span>
  <span id="next">❯</span>
</div>
  


<script>
let slides = document.getElementsByClassName("mySlides");
let current_slide = 1;
let max_slides = slides.length;

document.getElementById("prev")?.addEventListener("click", () => {
  if (current_slide == 1) {
    current_slide = max_slides;
  } else {
    current_slide--;
  }

  render();
})

document.getElementById("next")?.addEventListener("click", () => {
  if (current_slide == max_slides) {
    current_slide = 1;
  } else {
    current_slide++;
  }

  render();
})

function render() {
  for (let i = 0; i < max_slides; i++) {
    slides[i].style.zIndex = -5;
  }

  slides[current_slide - 1].style.zIndex = 1;
}
</script>

<style>
  /* Slideshow container */
.slideshow-container {
  /* flex-grow: 1; */
  /* flex-basis: 50%; */
  position: relative;
}

.mySlides {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}

.slide-img {
  width: auto;
  height: 520px;
  object-fit: contain;
  border-radius: 0.5rem;
}

.holder {
  position: relative;
  width: 580px;
  height: 520px;
  overflow: hidden;
  border-radius: 0.5rem;
}


/* Next & previous buttons */
#prev,
#next {
  cursor: pointer;
  position: absolute;
  top: 520px;
  background-color: aliceblue;
  width: auto;
  padding: 8px 15px;
  color: rgb(61, 57, 57);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  /* border-radius: 0 3px 3px 0; */
  border-radius: 3px;
  user-select: none;
}

/* Position the "next button" to the right */
#next {
  right: 40%;
  /* border-radius: 3px 0 0 3px; */
}

#prev {
  left: 40%;
}

/* On hover, add a black background color with a little bit see-through */
#prev:hover,
#next:hover {
  background-color: rgba(125, 164, 238, 0.307);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@media (max-width: 1270px) {
  .slide-img {
    height: 450px;
  }

  .holder {
    width: 480px;
    height: 450px;
  }

  #prev,
  #next { 
    top: 450px;
  }
}

@media (max-width: 1040px) {
  .slide-img {
    height: 550px;
  }

  .holder {
    width: 650px;
    height: 550px;
    margin: 0 auto;
  }

  #prev,
  #next { 
    top: 555px;
  }
}

@media (max-width: 750px) {
  .slide-img {
    height: 440px;
  }

  .holder {
    width: 550px;
    height: 440px;
    margin: 0 auto;
  }

  #prev,
  #next { 
    top: 445px;
  }
}

@media (max-width: 620px) {
  .slide-img {
    height: 420px;
  }

  .holder {
    width: 500px;
    height: 420px;
    margin: 0 auto;
  }

  #prev,
  #next { 
    top: 425px;
  }
}

@media (max-width: 580px) {
  .slide-img {
    height: 380px;
  }

  .holder {
    width: 455px;
    height: 380px;
    margin: 0 auto;
  }

  #prev,
  #next { 
    top: 385px;
  }

  #next {
    right: 35%;
  }

  #prev {
    left: 35%;
  }
}

@media (max-width: 500px) {
  .slide-img {
    height: 320px;
  }

  .holder {
    width: 380px;
    height: 320px;
    margin: 0 auto;
  }

  #prev,
  #next { 
    top: 325px;
  }

  #next {
    right: 30%;
  }

  #prev {
    left: 30%;
  }
}

@media (max-width: 430px) {
  .slide-img {
    height: 300px;
  }

  .holder {
    width: 340px;
    height: 300px;
  }

  #prev,
  #next { 
    top: 305px;
  }
}

@media (max-width: 390px) {
  .slide-img {
    height: 280px;
  }

  .holder {
    width: 300px;
    height: 280px;
  }

  #prev,
  #next { 
    top: 285px;
  }
}

@media (max-width: 340px) {
  .slide-img {
    height: 250px;
  }

  .holder {
    width: 270px;
    height: 250px;
  }

  #prev,
  #next { 
    top: 255px;
  }
}
</style>