---
import Front3 from "../assets/renegade/front3.webp";
import BackTopSmall from "../assets/renegade/back_top_small.webp";
import RenegadeFront2Small from "../assets/renegade/renegade_front2_small.webp";
import Front3Small from "../assets/renegade/front3_small.webp";
import FromSideSmall from "../assets/renegade/from_side_small.webp"
import ProtectorSmall from "../assets/renegade/protector_small.webp";
import BacksideSmall from "../assets/renegade/backside_small.webp"
import LeftArrow from "../assets/arrow-left2.svg";
import RightArrow from "../assets/arrow-right2.svg";
import Image from "astro/components/Image.astro";
---

<div class="slideshow-container">
  <div class="holder">
    <img src={Front3.src} id="imag" alt="Renegade" data-img="1" loading="eager"/>

    <div id="preview-container">
      <div id="preview">
        <div class="preview-holder" style="border: 1px solid rgba(125, 164, 238, 0.407);">
          <Image src={Front3Small} class="preview-image" alt="renegade" data-nth="0" loading="eager"/>
        </div>
        <div class="preview-holder">
          <Image src={RenegadeFront2Small} class="preview-image" alt="renegade" data-nth="1" loading="eager"/>
        </div>
        <div class="preview-holder">
          <Image src={FromSideSmall} class="preview-image" alt="renegade" data-nth="2" loading="eager"/>
        </div>
        <div class="preview-holder">
          <Image src={BackTopSmall} class="preview-image" alt="renegade" data-nth="3" loading="eager"/>
        </div>
        <div class="preview-holder">
          <Image src={BacksideSmall} class="preview-image" alt="renegade" data-nth="4" loading="eager"/>
        </div>
      </div>
    </div>

    <div class="controls">
      <button id="prev">
        <Image src={LeftArrow} alt="Previous" loading="lazy" />
      </button>
      <button id="next">
        <Image src={RightArrow} alt="Next" loading="lazy" />
      </button>
    </div>
  </div>
</div>

<script type="module" defer>
  let images = ["/renegade/front3.webp", "/renegade/renegade_front2.webp", "/renegade/from_side.webp", "/renegade/back_top.webp", "/renegade/backside.webp", "/renegade/front3.webp", "/renegade/protector.webp", "/renegade/front1.webp", "/renegade/front1.webp", "/renegade/front1.webp", "/renegade/front1.webp", "/renegade/front1.webp", "/renegade/front1.webp", "/renegade/front1.webp"];
  let previewImages = document.querySelectorAll(".preview-image");
  let img = document.getElementById("imag");
  const next = document.getElementById("next");
  const prev = document.getElementById("prev");
  const row = document.getElementById("preview");

  previewImages.forEach((preview) => {
    preview.addEventListener("click", () => {
      img.src = images[preview.dataset.nth];
      removeBorders();
      preview.parentElement.style.border = "1px solid rgba(125, 164, 238, 0.407)";
    })
  })

  function removeBorders() {
    previewImages.forEach((preview) => {
      preview.parentElement.style.border = "1px solid white";
    })
  }

  let scrollAmount = 0;
  const scrollStep = 200;

  // Event listener for the next button
  next.addEventListener('click', () => {
    const maxScroll = row.scrollWidth - row.parentElement.clientWidth;
    if (scrollAmount < maxScroll) {
      scrollAmount += scrollStep;
      if (scrollAmount > maxScroll) {
        scrollAmount = maxScroll;
        next.style.opacity = "0";
      }
      row.style.transform = `translateX(-${scrollAmount}px)`;
      prev.style.opacity = "1";
    }
  });

  // Event listener for the previous button
  prev.addEventListener('click', () => {
    if (scrollAmount > 0) {
      scrollAmount -= scrollStep;
      if (scrollAmount < 0) {
        scrollAmount = 0
        prev.style.opacity = "0";
      };
      row.style.transform = `translateX(-${scrollAmount}px)`;
      next.style.opacity = "1";
    }
  });


  // document.getElementById("next").addEventListener("click", () => {
  //   if (img.dataset.img === images.length.toString()) {
  //     img.src = images[0];
  //     img.dataset.img = "1";
  //   } else {
  //     img.src = images[(img.dataset.img - 1) + 1];
  //     img.dataset.img++;
  //   }
  // })

  // document.getElementById("prev").addEventListener("click", () => {
  //   if (img.dataset.img === "1") {
  //     img.src = images[images.length - 1];
  //     img.dataset.img = images.length.toString();
  //   } else {
  //     img.src = images[(img.dataset.img - 1) - 1];
  //     img.dataset.img--;
  //   }
  // })
</script>

<style>

#imag {
  max-height: 550px;
  max-width: 100%;
  border-radius: 0.5rem;
  user-select: none;
}

.holder {
  text-align: center;
  width: 650px;
  overflow: hidden;
  border-radius: 0.5rem;
}

.controls {
  display: flex;
  justify-content: space-between;
  /* gap: 5px; */
  margin-top: 7px;
}

#next, #prev {
  background-color: rgba(125, 164, 238, 0.207);
  color: black;
  cursor: pointer;
  padding: 7px 20px;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#prev {
  /* display: none; */
  opacity: 0;
}

#next:hover, #prev:hover {
  background-color: rgba(125, 164, 238, 0.307);
}

#next img, #prev img {
  width: 30px;
  height: 30px;
  user-select: none;
}

#preview-container {
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#preview-container::-webkit-scrollbar {
  display: none;
}

#preview {
  display: flex;
  align-items: center;
  gap: 2px;
  transition: transform 0.5s ease;
  user-select: none;
  /* border-radius: 5px; */
}

.preview-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.207);
}

.preview-holder:hover {
  border: 1px solid rgba(125, 164, 238, 0.407);
}

#preview img {
  width: 100px;
  height: 76px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  object-fit: contain;
}

@media (max-width: 1450px) {
  #imag {
  max-height: 550px;
}

.holder {
  width: 580px;
}
}

@media (max-width: 1040px) {
  .holder {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .holder {
    width: 100%;
  }
}
</style>